# pip install langchain streamlit faiss-cpu pypdf langchain-community transformers sentence-transformers langchainhub ollama pull llama2

langchain
streamlit
faiss-cpu
pypdf
langchain-community
transformers
sentence-transformers
langchainhub
ollama
pull
llama2